[submodule "lib/imgui"]
	path = lib/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "lib/glfw"]
	path = lib/glfw
	url = https://github.com/glfw/glfw.git
[submodule "lib/quirc"]
	path = lib/quirc
	url = https://github.com/dlbeer/quirc.git
